<a href="https://colab.research.google.com/github/ChrisAchinga/Introduction-to-python/blob/master/Intro_to_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
first_name = "chris"
first_name.capitalize
print(first_name)

#DATA TYPES
#dictionaries
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
Dict["Tim"]
len(Dict)

chris

4

In [24]:
#list
thislist = ["apple", "banana", "cherry"]
thislist[0] = ["mango"]
thislist.append("pineapples")
thislist.insert(1, "orange")
print(thislist)

[['mango'], 'orange', 'banana', 'cherry', 'pineapples']

In [0]:
#tuple
thistuple = ("apple", "banana", "cherry")

In [14]:
#integers
x = 1
print(type(x))

<class 'int'>

In [15]:
#float
x = 1.10
print(type(x))

<class 'float'>

In [0]:
#boolean
dead = False